:root {
  --prymary: #015463;
  --secondary: #020c0f;
  --text-white: #b5b5b5;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;

  ::-webkit-scrollbar {
    background-color: var(--secondary);
    width: .7em;
  }

  ::-webkit-scrollbar-thumb {
    border-radius: 12px;
    background-color: var(--prymary);
  }
}